main {
  margin: auto;
  max-width: 900px;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

a {
  color: black;
}

p,
ul,
ol {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

li {
  list-style-position: inside;
  margin-bottom: 0.6rem;
}

li p {
  display: inline;
}

header {
  width: 100%;
  border-bottom: 1px solid black;
  height: 5rem;
  margin-bottom: 2rem;
}

header .top-bar {
  max-width: 900px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 2rem 0;
}

.my-tacos,
.like-button {
  border: none;
  outline: none;
  background: #e7e7e9;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-family: 'Spezia SemiBold';
}

.like-button {
  border: #e7e7e9 solid 1px;
  padding: 0.3rem 1.3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like-button span {
  font-family: 'Spezia SemiBold', sans-serif;
  margin: 0 0.2rem;
}

.like-button .heart {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.taco-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.recipe-card {
  width: 100%;
}

.title-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-card .taco-recipe {
  max-width: 70%;
}

.title-card .taco-image {
  width: 15rem;
  height: 15rem;
}

.title-card .taco-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.get-taco-button {
  padding: 0;
  font-family: 'Spezia SemiBold', sans-serif;
  font-size: 1.5rem;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: underline;
}

.arrow {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  margin-right: 0.5rem;
}

.taco-card-small {
  cursor: pointer;
  outline: 1px solid black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 15rem;
}

.taco-card-small .taco-name {
  margin-left: 2rem;
  max-width: 65%;
}

.taco-card-small .taco-image {
  width: 15rem;
  height: 15rem;
}

.taco-card-small .taco-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 900px) {
  main {
    max-width: 95%;
  }
  .top-bar {
    width: 90%;
  }
  .get-taco-button {
    text-align: left;
  }
  .title-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-card .taco-recipe {
    max-width: 90vw;
  }
  .title-card .taco-image {
    width: 60vw;
    height: 60vw;
    margin: 2rem;
  }
  .taco-card-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .taco-card-small .taco-image {
    width: 100%;
    height: 100vw;
    margin-bottom: 2rem;
  }
  .taco-card-small .taco-name {
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=App.css.map */