main {
  margin: auto;
  max-width: 900px;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

a {
  color: black;
}

p,
ul,
ol {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

li {
  list-style-position: inside;
  margin-bottom: 0.6rem;
  p {
    display: inline;
  }
}

header {
  width: 100%;
  border-bottom: 1px solid black;
  height: 5rem;
  margin-bottom: 2rem;
  // display: flex;
  // justify-content: flex-end;
  .top-bar {
    max-width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 2rem 0;
  }
}

.my-tacos,
.like-button {
  border: none;
  outline: none;
  background: #e7e7e9;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-family: 'Spezia SemiBold';
}

.like-button {
  border: #e7e7e9 solid 1px;
  padding: 0.3rem 1.3rem;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    // border: 1px solid;
    font-family: 'Spezia SemiBold', sans-serif;
    margin: 0 0.2rem;
  }
  .heart {
    transform: translateY(10%);
  }
}

.taco-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.recipe-card {
  width: 100%;
}

.title-card {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .taco-recipe {
    max-width: 70%;
  }

  .taco-image {
    width: 15rem;
    height: 15rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.get-taco-button {
  padding: 0;
  font-family: 'Spezia SemiBold', sans-serif;
  font-size: 1.5rem;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: underline;
}

.arrow {
  transform: translateY(10%);
  margin-right: 0.5rem;
}

.taco-card-small {
  cursor: pointer;
  outline: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 15rem;
  .taco-name {
    margin-left: 2rem;
    max-width: 65%;
  }
  .taco-image {
    width: 15rem;
    height: 15rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 900px) {
  main {
    max-width: 95%;
  }
  .top-bar {
    width: 90%;
  }
  .get-taco-button {
    text-align: left;
  }
  .title-card {
    flex-direction: column-reverse;
    align-items: center;
    .taco-recipe {
      max-width: 90vw;
    }
    .taco-image {
      width: 60vw;
      height: 60vw;
      margin: 2rem;
    }
  }
  .taco-card-small {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    .taco-image {
      width: 100%;
      height: 100vw;
      margin-bottom: 2rem;
    }
    .taco-name {
      margin-left: 2rem;
    }
  }
}
