body {
  margin: auto;
  max-width: 900px;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0 2rem 0;
}

.recipe-card {
  width: 100%;
}

.title-card {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .taco-recipe {
    max-width: 70%;
  }

  .taco-image {
    width: 15rem;
    height: 15rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.get-taco-button {
  padding: 0;
  font-family: 'Spezia SemiBold', sans-serif;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: underline;
  &:before {
    display: block;
    transform: translateY(-10%);
    content: '';
    background-image: url('../arrow.svg');
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

li {
  list-style-position: inside;
  margin-bottom: 0.2rem;
}

@media only screen and (max-width: 900px) {
  body {
    max-width: 95%;
  }
  .title-card {
    flex-direction: column-reverse;
    align-items: center;
    .taco-recipe {
      max-width: 90vw;
    }
    .taco-image {
      width: 60vw;
      height: 60vw;
    }
  }
}
